<form>
  <div class="form-group">
    <label for="inspectionTypeId" class="form-label">Inspection Type</label>
    <select name="inspectionTypeId"
            id="inspectionTypeId"
            class="form-select"
            [(ngModel)]="inspection.inspectionTypeId"
            [disabled]="inspection.id !== 0">
            <option *ngFor="let type of inspectionTypesList$ | async"
                    [value]="type.id">
                    {{ type.inspectionName }}
            </option>
    </select>
  </div>

  <div class="form-group">
    <label for="status" class="form-label">Status</label>
    <select name="status"
            id="status"
            class="form-select"
            [(ngModel)]="inspection.status">
            <option *ngFor="let status of statuses | async"
                    [value]="status.statusOption">
              {{ status.statusOption }}
            </option>
    </select>
  </div>

  <div class="form-group">
    <label for="comments" class="form-label">Comments</label>
    <textarea name="comments"
              id="comments"
              class="form-control"
              [(ngModel)]="inspection.comments"
              >
    </textarea>
  </div>

  <div class="form-group mt-2">
    <button class="btn btn-primary"
            type="submit"
            *ngIf="inspection.id === 0"
            (click)="addInspection()">
            Save
    </button>
    <button class="btn btn-warning"
            type="submit"
            *ngIf="inspection.id !== 0"
            (click)="editInspection($event)">
            Edit
    </button>
  </div>

</form>
